

body {
  background-color: black;
  color: white;
  font-family: verdana;
}

@font-face {
  font-family: 'VoidFont';
  src: url('fonts/VoidFont.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'VoidFont';
  src: url('fonts/VoidFontBold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'VoidFont';
  src: url('fonts/VoidFontItalic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'VoidFont';
  src: url('fonts/VoidFontBoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}


a {
  color: #6100ff;
}


a:visited {
  color: #00ff35;
}


a:hover {
  color: #7800ff;
}


a:active {
  color: #ff0000;
}